@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply box-border;
  font-family: "Roboto", sans-serif;
}

/* Works in Firefox */
* {
  scrollbar-color: #888 #f1f1f1; /* thumb color, track color */

  scrollbar-width: thin;
}

/* Works in WebKit browsers like Chrome, Safari, Edge */
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

*::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

body {
  font-family: "Roboto", sans-serif;
  @apply bg-white dark:bg-background-dark text-textPrimary-light dark:text-textPrimary-dark;
}

h1,
h2 {
  font-family: "Roboto", sans-serif;
}
@layer base {
  h1 {
    @apply text-4xl font-bold text-textPrimary-light dark:text-textPrimary-dark;
  }
  h2 {
    @apply text-3xl font-semibold text-textPrimary-light dark:text-textPrimary-dark;
  }
  h3 {
    @apply text-2xl font-semibold text-textPrimary-light dark:text-textPrimary-dark;
  }
  h4 {
    @apply text-xl font-medium text-textPrimary-light dark:text-textPrimary-dark;
  }
  h5 {
    @apply text-lg font-medium text-textPrimary-light dark:text-textPrimary-dark;
  }
  h6 {
    @apply text-base font-medium text-textPrimary-light dark:text-textPrimary-dark;
  }
  p {
    @apply text-base text-textSecondary-light dark:text-textSecondary-dark;
  }
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 40px;
  aspect-ratio: 1;
  @apply text-primary-light dark:text-primary-dark;
  /* For dark mode, you may need to handle color switching with a class or JS */
  position: relative;
  background: radial-gradient(10px, currentColor 94%, #0000);
}
.loader:before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
  background: radial-gradient(9px at bottom right, #0000 94%, currentColor) top
      left,
    radial-gradient(9px at bottom left, #0000 94%, currentColor) top right,
    radial-gradient(9px at top right, #0000 94%, currentColor) bottom left,
    radial-gradient(9px at top left, #0000 94%, currentColor) bottom right;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  animation: l18 1.5s infinite cubic-bezier(0.3, 1, 0, 1);
}
@keyframes l18 {
  33% {
    inset: -10px;
    transform: rotate(0deg);
  }
  66% {
    inset: -10px;
    transform: rotate(90deg);
  }
  100% {
    inset: 0;
    transform: rotate(90deg);
  }
}

.v-toast__text {
  @apply !text-white dark:text-white;
}

/* In your main.css or global styles */
.no-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

/* In your main.css or global styles */
.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
